<launch>

    
    <node name="rosbag_play" type="play" pkg="rosbag"
      args=" -q /media/philipp/SANDISK/bigbags/europa.bag -r 0.2">
    </node>

    <node pkg="vicon_depthcam_scan" name="ircamera_tf" type="ircamera_tf" output="screen">
    </node>
    


<node pkg="voxblox_ros" name="voxblox_node" type="voxblox_node" output="screen">
<param name="tsdf_voxel_size" value="0.02" />
<param name="color_mode" value="normals"/>
<remap from="pointcloud" to="/points_processed"/>
    </node>

<node pkg="octomap_world" name="octomap_manager" type="octomap_manager" output="screen">
<param name="map_publish_frequency" value="1.0" />
<param name="resolution" value="0.02" />
<remap from="pointcloud" to="/points_processed"/>
    </node>

  
</launch>
