<launch>

    
    <node name="rosbag_play" type="play" pkg="rosbag"
      args=" -q /media/philipp/SANDISK/bigbags/whole_lab_big.bag -r 0.4 --pause">
    </node>


<node pkg="octomap_world" name="octomap_manager" type="octomap_manager" output="screen">

<param name="resolution" value="0.03" />
<remap from="pointcloud" to="/points_processed"/>
    </node>

  
</launch>
