<launch>
  <arg name="mav_name" default="bluebird"/>
  <arg name="object_name" default="$(arg mav_name)"/>
  <arg name="namespace" default="$(arg mav_name)" />

  <arg name="marker_frame" default="world" />

  <node name="vrpn_client_kinect" type="ros_vrpn_client" pkg="ros_vrpn_client" output="screen">
    <param name="vrpn_server_ip" value="vicon" />
    <param name="vrpn_coordinate_system" value="vicon" />
    <param name="timestamping_system" value="tracker" />
    <param name="object_name" value="kinect" />
    <param name="display_time_delay" value="true" />
    <param name="vicon_estimator/dt" value="0.01" />
    <param name="translational_estimator/kp" value="1.0" />
    <param name="translational_estimator/kv" value="0.1" />
    <param name="rotational_estimator/orientation_estimate_initial_covariance" value="1" />
    <param name="rotational_estimator/rate_estimate_initial_covariance" value="1" />
    <param name="rotational_estimator/orientation_process_covariance" value="0.00001" />
    <param name="rotational_estimator/rate_process_covariance" value="10" />
    <param name="rotational_estimator/orientation_measurementCovariance" value="0.005" />
    <param name="rotational_estimator/outlier_threshold_degrees" value="30" />
    <param name="rotational_estimator/maximum_outlier_count" value="50" />    
    <param name="rotational_estimator/output_minimal_quaternions" value="false" />
  </node>

    <node pkg="vicon_depthcam_scan" name="ircamera_tf" type="ircamera_tf" output="screen">
    </node>
    
    <node pkg="vicon_depthcam_scan" name="pointcloud_preprocess" type="pointcloud_preprocess" output="screen">
    </node>
    
<node pkg="octomap_world" name="octomap_manager" type="octomap_manager" output="screen">
<param name="map_publish_frequency" value="0.2" />
<param name="resolution" value="0.05" />
<remap from="pointcloud" to="/points_processed"/>
    </node>

</launch>
